@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colours */
  --clr-primary-blue: #1b2548;
  --clr-primary-blue-transparent: #1e2548b3;
  --clr-primary-blue-light: #4e61c1;
  --clr-accent-gold: #cea49d;
  --clr-accent-gold-background: #dccdcb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer components {
  .hover-underline {
    @apply mx-4 relative before:ease-out before:duration-300 before:absolute before:rounded-full before:h-1 before:w-[100%] before:bg-[var(--clr-accent-gold)] before:-bottom-2 before:left-0 before:scale-x-0 hover:before:scale-x-100;
  }

  @media (min-width: 768px) {
    .hover-underline {
      @apply before:bg-[var(--clr-primary-blue)];
    }
  }
}

body {
  background-color: var(--clr-accent-gold-background);
}
